extends layout

block content
  h1= title

  ul
    each rink in rink_list


      <div class="collection">
         a(href=rink.url class="collection-item") #{rink.location}
      </div>

    else
      li Ei yht채채n kentt채채.
